<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmartCare Plus</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="countries">
                <span class="oi oi-plus" aria-hidden="true"></span> Country
            </NavLink>
        </div>
       <div class="nav-item px-3">
          <NavLink class="nav-link" href="provinces">
             <span class="oi oi-plus" aria-hidden="true"></span> Province
          </NavLink>
       </div>
       <div class="nav-item px-3">
          <NavLink class="nav-link" href="districts">
            <span class="oi oi-plus" aria-hidden="true"></span> District
          </NavLink>
       </div>
       <div class="nav-item px-3">
          <NavLink class="nav-link" href="facilities">
            <span class="oi oi-plus" aria-hidden="true"></span> Facility
          </NavLink>
       </div>

      <div class="nav-item px-3">
         <NavLink class="nav-link" href="userAccounts">
            <span class="oi oi-plus" aria-hidden="true"></span> User Account
         </NavLink>
      </div>
    </nav>
</div>

@code {
   private bool collapseNavMenu = true;

   private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

   private void ToggleNavMenu()
   {
      collapseNavMenu = !collapseNavMenu;
   }
}

<link href="css/app.css" rel="stylesheet" />
<style>

   .top-row[b-7h0cgpplwh] {
      /*height: 60px;*/
      box-shadow: rgba(1, 41, 112, 0.1) 9px 2px 20px;
      background-color: rgb(255, 255, 255);
      padding-left: 20px;
      transition: all 0.5s ease 0s;
      padding-left: 0;
      border-bottom: none;
   }

   .top-row[b-v9qlxlo4j3] {
      height: 3.5rem;
      background-color: rgb(255, 255, 255);
   }

   .navbar-brand[b-v9qlxlo4j3] {
      font-size: 1.4rem;
   }

   .navbar-dark .navbar-brand {
      font-size: 25px;
      font-weight: 700;
      color: rgb(1, 41, 112);
   }

   .navbar-brand {
      padding-top: 0;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      text-decoration: none;
      white-space: nowrap;
      color: rgb(1, 41, 112);
   }

   .top-row.ps-3.navbar.navbar-dark {
      box-shadow: rgba(1, 41, 112, 0.1) 9px 2px 20px;
   }

   .sidebar[b-7h0cgpplwh] {
      background-image: none;
      box-shadow: rgba(1, 41, 112, 0.1) 0px 0px 20px;
      background-color: rgb(255, 255, 255);
      transition: all 0.3s ease 0s;
   }

   .nav-item[b-v9qlxlo4j3] a:hover {
      color: rgb(65, 84, 241);
      background: rgb(246, 249, 255);
   }

   .nav-item[b-v9qlxlo4j3] a {
      color: rgb(1, 41, 112);
      font-weight: 600;
      font-size: 15px;
   }

   .card-header, .card-footer {
      border-color: #ebeef4;
      background-color: #fff;
      padding: 15px;
      color: rgb(1, 41, 112);
      font-size: 18px;
   }

   .nav-item[b-v9qlxlo4j3] a.active {
      /*background-color: rgba(255,255,255,0.25);*/
      color: rgb(65, 84, 241);
      background: rgb(246, 249, 255);
   }

   .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
      color: rgb(1, 41, 112);
   }

   span.bi.bi-circle {
      font-size: 6px;
      margin-right: 8px;
      line-height: 0;
      border-radius: 50%;
   }

   .sidebar-nav .nav-content .nav-link {
      background-color: white;
   }

   .top-row[b-7h0cgpplwh] a, .top-row .btn-link[b-7h0cgpplwh] {
      white-space: nowrap;
      margin-left: 1.5rem;
      color: rgb(1, 41, 112);
      font-weight: 700;
      margin-top: 15px;
   }

   .header-nav ul {
      list-style-type: none;
   }

</style>